*{
 background-color:#E5E4E5;
}
  .heading{
 height:215px;
 background:url(https://preview.ibb.co/j0O2Jb/57375139_xl.jpg);
 background-size:cover;
 background-attachment:fixed;
 text-align: center;
 font-weight: bold;
 font-family:"Playfair Display" sans-serif;
 font-size:48px;
 text-transform: uppercase;
}
h1{
 color:white;
 text-align: center;
 font-weight: bold;
 font-family:"Playfair Display" sans-serif;
 font-size:36px;
 text-transform: uppercase;
 background: rgba(0,0,0,0.25);
 font-size:70px;
 padding:10px;
 float:left;
 width:50%;
 margin-left:25%;
 margin-right:25%;


 /*left: 325px;
 top:125px;
 position:absolute;
 float:center;*/
}
.place-with-the-text{
  border-top-style: solid;
  border-top-width: medium;
  padding-top: 30px;
  padding-bottom: 40px;
}
div.tab {
 overflow: hidden;
 border: 2px solid gray;
 background-color:#DCC8C7 ;
}
/* Style the buttons inside the tab */
div.tab button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 transition: 0.3s;
 font-size: 17px;
}

.tablinks {
  background-color: #cccccc;
  border-radius: 10px;
  padding: 10px 15px;
}
/* Change background color of buttons on hover */
div.tab button:hover {
 background-color: #E1C5B4;
}
/* Create an active/current tablink class */
div.tab button.active {
 background-color: #BDA19D;
}

#fancy {
  font-family: 'Itim', cursive;
  font-size: 20px;
}

p {
  font-size: 100%;
  text-transform: uppercase;
  font-family: 'Gloria Hallelujah', cursive;
}
